<section>

  <div class="container-view-client">

    <h4 class="mb-3">Información básica</h4>
    <form [formGroup]="form" novalidate >

      <div class="row mb-3">

        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Primer nombre</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="firstName">

        </div>
        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Segundo nombre</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="secondName">

        </div>
      </div>


      <div class="row mb-3">

        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Primer apellido</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="lastName">

        </div>
        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Segundo apellido</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="secondLastName">

        </div>
      </div>

      <div class="row mb-3">

        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Télefono</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="phone">

        </div>
        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Dirección</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="address">

        </div>
      </div>

      <div class="row mb-3">

        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Tipo de documento</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="documenType">

        </div>
        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Número de documento</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="documentNumber">

        </div>
      </div>

      <div class="row mb-3" formGroupName="city">

        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Id ciudad</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="id">

        </div>
        <div class="col-6 p-fluid">
          <label for="exampleInputEmail1" class="form-label">Ciudad</label>
          <input type="text" pInputText class="p-inputtext-sm" formControlName="name">

        </div>
      </div>


      <div class="container-btn p-fluid">
        <button pButton type="submit" label="Regresar" (click)="onBack()"></button>
      </div>


    </form>

  </div>
</section>
